#logoContainer {
    background-image: url("Pictures/bshop.jpg");
    background-size: auto;
    width: 100%;
    margin: 0px;
    /*filter: blur(4px);*/
}

#logo {
    /*padding*/
    height: 60vh;
    filter: invert(100%);
}

#Elogo {
    /*padding*/
    filter: invert(100%);
}

#title {
    text-align: center;
}

#Team{
    text-align: center;
}

#intro{
    text-align: center;
}

#end{
    text-align: center;
    margin: 25px
}
body{
 /*background-image: url("Pictures/HaircutModel.jpeg"); */
 background-color: #cccccc;
 /*background-repeat: no-repeat;*/
 /*background-attachment: fixed;*/
 /*background-position: center;*/
}


.Stupid{
    margin: auto;
    display: flex;
    justify-content: center;
}

/*button{*/
/*    margin-top: auto;*/
/*    height: 50px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.col-sm{
  padding-top: 25px;
  /*border-style: double;*/
}

.text{
 margin: auto; 
 display: flex;
}

.myImg{
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.midpart{
    padding-top: 25px;
    padding-bottom: 25px;
    display: box;
}

.intro{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 100px;
    margin-left: 100px;
}