/***General***/

body{
 background-color: #cccccc;
}





/***index.html***/

#logoContainer {
    background-image: url("Pictures/bshop.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0px;
    /*filter: blur(4px);*/
}

#logo {
    /*padding*/
    height: 60vh;
    filter: invert(100%);
}

#Elogo {
    /*padding*/
    filter: invert(100%);
}

#title {
    text-align: center;
}

#Team{
    text-align: center;
}

#intro{
    text-align: center;
}

#end{
    text-align: center;
    margin: 25px
}

.midpart{
    padding-top: 25px;
    padding-bottom: 25px;
    display: box;
}

.intro{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 100px;
    margin-left: 100px;
}

.Stupid{
    margin: auto;
    display: flex;
    justify-content: center;
}





/***YourStyle.html***/

.final{
    margin-right: 50px
    margin-left:50px;
}

h1,h2{
    text-align: center
}


.col-sm{
  /*padding-top: 25px;*/
  /*border-style: double;*/
  margin: 30px;
  padding: 0px;
  width: auto;
}

.text{
 margin: auto; 
 display: flex;
}

.myImg{
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.styleImgContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    /*margin: 0 auto;*/
}

.buttonContainer div {
    /* Grey */
    background-color: #777777;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    padding: 13px;
}

.imageSelect {
    padding: 0px;
    background: none;
    border: none;
}

.imageSelect:hover div img {
    width: 250px;
    height: 250px;
}

.imageSelect:hover div div {
    width: 250px;
}

.imageSelect:focus div div {
    /* Green */
    background-color: #4CAF50;
    content: "Selected";
}





/***location.html***/







/***about.html***/

#aboutTitle {
    margin-top: 20px;
    text-align: center;
}

#aboutHr {
    width: 70vw;
    border-top: 2px solid #555555;
    margin-bottom: 30px;
}

#aboutH2 {
    margin-top: 20px;
    margin-left: 15px;
}

#aboutP {
    margin-left: 20px;
}

#aboutImg {
    height: 50vh;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
